<! DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Catalogue</title>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body ng-app="MyApp" ng-controller="MyController" >
	<div class="container spacer">
	<form>
	<label>Mot Clé: </label>
	<input type="text" ng-model="motCle">
	<button ng-click="rechercherProd()">Chercher</button>
	</form>
	
	</div>
	<div class="container spacer">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>REF</th><th>DES</th><th>PRIX</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="p in produits">
					<td>{{p.reference}}</td>
					<td>{{p.designation}}</td>
					<td>{{p.prix}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- div class="container">
		<ul class="nav nav-pills">
		<li ng-class="{active:$index==pageCourante}"
		class="clickable" ng-repeat="p in pages track by $index">
		<a ng-click="gotoPage($index)">{{$index}}</a>
		</li>
		</ul>
	</div -->
	
	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>